<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <header id="cabeçalho"></header>    
    <form  method= "post" action="#">
        <div id="Cadastro"><h2>Cadastre-se</h2></div>
<div id="base">


    <div id="login">
    <label for="Nome"> Nome*</label>
    <input 
    type="text"
    usuario="Nome"
    id="Nome"
    placeholder="Digite seu nome"
    required>
    </div>


            <div id="CPF">
            <label for="CPF"> CPF*</label>
            <input 
            type="number"
            name="CPF"
            id="CPF"
            placeholder="Digite seu CPF"
            required>
            </div>

                 <div id="Idade">
                 <label for="Idade"> Idade*</label>
                 <input 
                 type="number"
                 name="idade"
                 id="idade"
                 placeholder="Digite sua Idade"
                 required>
                </div>

                    <div id="email">
                        <label for="email">Email*</label>
                        <input 
                        type="text"
                        name="email"
                        id="email"
                        placeholder="Digite seu email"
                        required>
                    </div>

                        <div id="tlefone">
                            <label for="Telefone"> Telefone*</label>
                            <input 
                            type="number"
                            name="tlefone"
                            id="telefone"
                            placeholder="Digite seu telefone"
                            required>
                        </div>
                            <div id="logar">                       
                             <button>Logar</button>
                            </div>
</div>
</form>
    
</body>
</html>