<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="css/contato.css">
</head>
<body>
    <header id="cabeçalho"></header>
    <form  method= "post" action="#">
        <div id="Login"><h2>Fazer Login</h2></div>

<div id="bbase">
    <div id="email">
        <label for="email">Email*</label>
        <input 
        type="text"
        name="email"
        id="email"
        placeholder="Digite seu email"
        required>
            <div id="CPF">
            <label for="CPF"> CPF*</label>
            <input 
            type="number"
            name="CPF"
            id="CPF"
            placeholder="Digite seu CPF"
            required>
            </div>

                    <div id="Senha">
                        <label for="Senha">Senha*</label>
                        <input 
                        type="text"
                        name="Senha"
                        id="Senha"
                        placeholder="Digite Sua Senha"
                        required>
                    </div>
                        </div>
                            <div id="logar">                       
                             <button>Logar</button>
                            </div>
<span>Ainda não tem conta?
    <a href="cadastro.html"> Cadastre-se</a></span>
</div>
</form>
    
</body>
</html>