<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lojavirtual</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
        <header id="cabeçalho"></header>
    <div id="cont">
        <ul id="nav" class="box">
            <li id="menu"> <h1>Menu</h1></li>
            <li class="item esconder"><a href="index.html">Home</a></li>
            <li class="item esconder"><a href="Empresa.html">Empresa</a></li>
            <li class="item esconder"><a href="Serviço.html">Serviço</a></li>
            <li class="item esconder"><a href="Contato.html">Contato</a></li>
        </ul>
    </div>
        <main id="primeiro">
            <div id="contorno">
            <img id="principal" src="img/brancacadeira.png" alt="" class="cadeiras">
            <img id= "secundaria" src="img/cadeiratgt.png" alt="" class="cadeiras">
            <img id="terciaria" src="img/cadeira-gamer-branca-1.png" alt="" class="cadeiras">
            </div>
            <div id="imagem"></div>
            <div id="container">
                <img src="img/placamae.png" alt="" class="miniatura">
                <img src="img/placamaednv.jpg" alt="" class="miniatura">
                <img src="img/memoriaram.webp" alt="" class="miniatura">
                <img src="img/ddr5.jpg" alt="" class="miniatura">
                <img src="img/placadevideo.jpg" alt="" class="miniatura">
                <img src="img/placadevideobranca.jpg" alt="" class="miniatura">
            </div>
                <div id="ccontainer">
                <img src="img/processador.jpg" alt="" class="mminiatura">
                <img src="img/ryzen.png" alt="" class="mminiatura">
                <img src="img/ssd.jpg" alt="" class="mminiatura">
                <img src="img/ssdd.jpg" alt="" class="mminiatura">
                <img src="img/cooler.jpg" alt="" class="mminiatura">
                <img src="img/waterc.png" alt="" class="mminiatura">
                </div>  
        </main>
        <ul id="institucional">
            <h3>Institucional</h3>
            <Li> Quem somos </li>
            <li>Localização</li>
            <li> Nossa loja</li>
            <li> Blog </Li>
        </ul>
        <ul id="Dúvidas">
            <h3>Dúvidas</h3>
            <li>Entrega</li>
            <li>Garantia</li>
            <li>Comprar</li>
            <li>Pagamento</li>
            <li>Boletos</li>
        </ul>
        <ul id="Ajuda">
            <h3>Ajuda</h3>
            <li>SAC</li>
            <li>Fale Conosco</li>
            <li>Termos de Aceite</li>
            <li>Políticas de Privacidade</li>
        </ul>
        <ul id="Acessibilidade">
            <h3>Acessibilidade</h3>
            <li>Acessibilidade</li>
        </ul>
    <script src="js/comandos.js"></script>
</body>
</html>